<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" media="screen" />
    <link rel="stylesheet" href="{$Think.PUBLIC_FRONT}/css/money/details.css">
    <title>播放页面</title>
    <link href="{$Think.PUBLIC_FRONT}/css/common/mui.min.css" rel="stylesheet" />
    <link href="{$Think.PUBLIC_FRONT}/css/common/mui.css" rel="stylesheet" />
    <link href="{$Think.PUBLIC_FRONT}/css/common/iconfont.css" rel="stylesheet" />
    <script type="text/javascript" src="{$Think.PUBLIC_FRONT}/js/common/jquery.js"></script>
</head>
